<div>
  <input [(ngModel)]="newTask" class="input" type="text"  placeholder="Add Todo" /><br />
  <button class="addTodoBtn" (click)="addToList()" >
    <i class="fa-regular fa-square-plus"></i> Add Todo
  </button>
</div>

<div class="todoCard" *ngIf="todosDb && todosDb.length>0">

  <div class="todos" *ngFor="let data of todosDb">
    <div class="todoText">
      <h2 [innerText]="data.todoName">{{data.todoName}}</h2>
    </div>
    <div class="todoControl">
      <button class="delBtn">
        <i
          class="fa-sharp fa-solid fa-trash"
          style="font-size: 18px; color: white"
        ></i>
      </button>
      <button class="addBtn">
        <i
          class="fa-solid fa-square-check"
          style="font-size: 20px; color: white"
        ></i>
      </button>
    </div>
  </div>

  <!-- <div class="todos">
    <div class="todoText">
      <h2>First Todo</h2>
    </div>
    <div class="todoControl">
      <button class="delBtn">
        <i
          class="fa-sharp fa-solid fa-trash"
          style="font-size: 18px; color: white"
        ></i>
      </button>
      <button class="addBtn">
        <i
          class="fa-solid fa-square-check"
          style="font-size: 20px; color: white"
        ></i>
      </button>
    </div>
  </div> -->
</div>
