
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
  <button class="logoutBtn" (click)="logout()">Logout</button>
</div>

<div>
  <input [(ngModel)]="newTask" class="input" type="text"  placeholder="Add Todo" /><br />
  <div class="labelDiv">
    <label>Priority</label>    
    <label>Category</label>
  </div>
  <div class="subDiv">
  <select class="select">
    <option>select</option>
    <option value="1">Low</option>
    <option value="2">Medium</option>
    <option value="3">High</option>
  </select>
  <select class="select">
    <option>select</option>
    <option>Work</option>
    <option>Home</option>
    <option>Personal</option>

  </select>
  </div>
  <button class="addTodoBtn" (click)="addToList()" >
    <i class="fa-regular fa-square-plus"></i> Add Todo
  </button>
</div>

<div class="todoCard" *ngIf="todosDb && todosDb.length>0">

  <div class="todos" *ngFor="let data of todosDb">
    <div class="todoText">
      <h2 [innerText]="data.todoName" [ngClass]="data.checked ? 'todoStyleChecked' : 'todoName' ">{{data.todoName}}</h2>
    </div>
    <div class="todoControl">
      <button class="delBtn" (click)="deleteTodo(data)">
        <i
          class="fa-sharp fa-solid fa-trash"
          style="font-size: 18px; color: white"
        ></i>
      </button>
      <button class="addBtn" (click)="editTodo(data)">
        <i
          class="fa-solid fa-square-check"
          style="font-size: 20px; color: white"
        ></i>
      </button>
    </div>
  </div>

</div>
